.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.slide-in {
  animation: slideIn 0.4s forwards;
}

.slide-out {
  animation: slideOut 0.4s forwards;
}

/* Aggiungi questo nel tuo file CSS */
@keyframes shake {
  0% { transform: translateX(0px); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0px); }
}

.shaking {
  animation: shake 0.5s; /* Durata dell'animazione */
  animation-iteration-count: infinite; /* Rimuovi o imposta su un numero per limitare le ripetizioni */
}





/* Add this to your CSS (e.g., in App.css) */
.body-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}


.suggestion-button {
  padding: 0.5rem 1rem; /* Adjust padding as needed */
  border: 1px solid transparent; /* Adjust border as needed */
  border-radius: 0.25rem; /* Rounded corners */
  background-color: #183B50; /* Light gray background */
  color: white; /* Dark text color */
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

  /* Hover state */
  &:hover {
    background-color: #10b981; /* Green background on hover */
    color: white; /* White text on hover */
  }
}


.back-button {
  padding: 0.5rem 1rem; /* Adjust padding as needed */
  background-color: transparent; /* No background */
  color: #4a5568; /* Text color */
  border: none; /* No border */
  text-decoration: underline; /* Underlined text */
  cursor: pointer;
  transition: color 0.3s;

  /* Hover state */
  &:hover {
    color: #2d3748; /* Darker text on hover */
  }
}


.next-button {
  padding: 0.5rem 1rem; /* Adjust padding as needed */
  background-color: #51CAAD; /* Green background */
  color: white; /* White text */
  border-radius: 0.25rem; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s;

  /* Hover state */
  &:hover {
    background-color: #38a169; /* Darker green on hover */
  }
}


/* Custom radio button style */
.radio-custom {
  accent-color: #00161D; /* Use dark blue color */
}


